<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      @for (cover of covers; track cover.id) {
        @if ($first) {
          <div class="carousel-item active">
            <img [src]="cover.image.data" class="d-block w-100" [alt]="cover.image.alt">
          </div>
        } @else {
          <div class="carousel-item">
            <img [src]="cover.image.data" class="d-block w-100" [alt]="cover.image.alt">
          </div>
        }
      }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>