<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    @for (cover of covers; track cover.id) {
      @if ($first) {
        <div class="carousel-item active">
          <img [src]="cover.image" class="d-block w-100" [alt]="cover.alt">
        </div>
      } @else {
        <div class="carousel-item">
          <img [src]="cover.image" class="d-block w-100" [alt]="cover.alt">
        </div>
      }
    }
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div>
  <div class="row">
    @for (product of products; track product.id) {
      <div class="col-sm">
        <div class="card">
          <img [src]="product.image" class="card-img-top" [alt]="product.alt">
          <div class="card-body">
            <p class="card-text">{{ product.alt }}</p>
          </div>
        </div>
      </div>
    }
  </div>
</div>

<div>
  <div class="row">
    @for (product of products; track product.id) {
      <div class="col-sm">
        <div class="card">
          <img [src]="product.image" class="card-img-top" [alt]="product.alt">
          <div class="card-body">
            <p class="card-text">{{ product.alt }}</p>
          </div>
        </div>
      </div>
    }
  </div>
</div>